variable "VCD_USER"{
    default = "{{ VCD_USER }}"
}

variable "VCD_PASSWORD" {
    default = "{{ VCD_PASSWORD }}"
}

variable "VCD_MAX_RETRY_TIMEOUT" {
   description = "Retry Timeout"
   default = "50000"
}

variable "VCD_ORG"{
  default = "{{ VCD_ORG }}"
}

variable "VCD_URL"{
  default ="https://dcloud.ru/api"
}

variable "VCD_VDC"{
  default ="{{ VCD_VDC }}"
}

variable "VCD_CATALOG_NAME" {
    default = "{{ VCD_CATALOG_NAME }}"
}

variable "VCD_TEMPLATE_VM" {
    default = "CentOS-7.6.1810-x86-64-10G"
}

variable "VAPP_NAME" {
    default = "{{ VAPP_NAME }}"
}

variable "ROOT_PW" {
    default = "{{ ROOT_PW }}"
}

variable "EDGE_GATEWAY_NAME" {
    default = "{{ EDGE_GATEWAY_NAME }}"
}

variable "EXTERNAL_NET_NAME" {
    default = "{{ EXTERNAL_NET_NAME }}"
}

variable "EXTERNAL_IP" {
    default = "{{ EXTERNAL_IP }}"
    description = "Public ip of edge gateway"
}

variable "INTERNAL_NET_NAME" {
    default = "Kubernetes"
}

variable "INTERNAL_SUBNET" {
    default = "10.10.20.0/24"
    description = "Cluster private subnet"
}

variable "INTERNAL_NET_GATEWAY_IP" {
    default = "10.10.20.1"
}

variable "INTERNAL_NET_NETMASK" {
    default = "255.255.255.0"
}

variable "INTERNAL_NET_STATIC_IP_POOL_START" {
    default = "10.10.20.4"
}

variable "INTERNAL_NET_STATIC_IP_POOL_END" {
    default = "10.10.20.127"
}

variable "INTERNAL_NET_DNS1" {
    default = "8.8.8.8"
}

variable "INTERNAL_NET_DNS2" {
    default = "8.8.4.4"
}

variable "K8S_API_FLOATING_ADDRESS" {
    default = "10.10.20.3"
}

variable "K8S_API_PORT_INTERNAL" {
    default = "6443"
}

variable "K8S_API_PORT_EXTERNAL" {
    default = "63443"
}

variable "FIRST_SSH_PORT_EXTERNAL" {
    default = "3202"
}

variable "STORAGE_POLICY_SSD" {
  default = "{{ STORAGE_POLICY_SSD }}"
}

variable "STORAGE_POLICY_NON_SSD" {
  default = "{{ STORAGE_POLICY_NON_SSD }}"
}

variable "DISK_BUS_TYPE" {
  default = "SCSI"
}

variable "DISK_BUS_SUB_TYPE" {
  default = "VirtualSCSI"
}

variable "HOSTNAME_PREFIX" {
  default = "{{ HOSTNAME_PREFIX }}"
}

variable "MASTER_COUNT" {
  default = "3"
}

variable "WORKER_COUNT" {
  default = "2"
}

variable "FS_COUNT" {
  default = "1"
}

variable "MASTER_RAM" {
    default = "4096"
}

variable "MASTER_CPU" {
    default = "4"
}

variable "DISK_MASTER_LOG_SIZE" {
    default = "10240"
}

variable "DISK_MASTER_ETCD_SIZE" {
    default = "10240"
}

variable "WORKER_RAM" {
    default = "6192"
}

variable "WORKER_CPU" {
    default = "4"
}

variable "DISK_WORKER_LOG_SIZE" {
    default = "10240"
}

variable "DISK_WORKER_CONTAINERS_SIZE" {
    default = "31200"
}

variable "FS_RAM" {
    default = "2048"
}

variable "FS_CPU" {
    default = "2"
}

variable "DISK_FS_DATA_SIZE" {
    default = "31200"
}
